/* $Id: pet.css,v 1.1 2010/09/29 20:35:07 dwightaspinwall Exp $ */

div.pet_body_label label {
  display: block;
  font-weight: bold;
}
div.pet_body_preview {
  margin-top: 2px;
  margin-bottom: 10px;
  margin-right: 29px;
  padding: .3em;
  border: 1px solid #999;
}